@import '_reset.scss';
@import 'mixins.scss';

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./assets/bg-intro-desktop.png);
  overflow-x: hidden;

  @include flexible (flex, row, nowrap, center, center);

  @media (max-width:450px) {
    background: url(./assets/bg-intro-mobile.png) right no-repeat cover;
  }
}

.wrapper {
  width: 85%;
  max-width: 90em;
  margin: 0 auto;
}
